@mixin dark {
  --theme: #02040a;

  --theme-text: var(--c-text-light);
  --theme-text-muted: var(--c-text-light-muted);

  --app-max-width: 1600px;
  --app-max-height: 1000px;
  --app-box-shadow: 0 4px 7px #131316;
  --app-scroll-box-shadow: 0 0 10px #0c0c0c;
  --app-background: #15161e;
  --app-border: var(--theme);
  --app-scrollbar: #3f4354;

  --c-text-dark: #282d38;
  --c-text-dark-muted: #788090;
  --c-text-light: #fff;
  --c-text-light-accent: #b8bbcc;
  --c-text-light-muted: #d2d2da;

  --c-dimmed: #708dab;
  --c-dimmed-light: #1b1d27;
  --c-dimmed-hover: #5d758f;
  --c-dimmed-text: var(--c-text-light);
  --c-dimmed-text-hover: var(--c-dimmed-text);
  --c-dimmed-text-accent: var(--c-text-light);
  --c-dimmed-pure: var(--c-dimmed);
  --c-dimmed-pure-hover: var(--c-dimmed-hover);
  --c-dimmed-shadow: #555c655c;

  --c-primary: #3f5df3;
  --c-primary-light: #3f94f3;
  --c-primary-light-dimmed: #bcdcff;
  --c-primary-hover: #3450d8;
  --c-primary-text: var(--c-text-light);
  --c-primary-text-hover: var(--c-primary-text);
  --c-primary-text-accent: #eaf4ff;
  --c-primary-pure: #6d86ff;
  --c-primary-pure-hover: #5970de;
  --c-primary-shadow: #4fa2ff5c;

  --c-secondary: #b460ff;
  --c-secondary-light: var(--c-secondary);
  --c-secondary-light-dimmed: #dab2ff;
  --c-secondary-hover: #9730f1;
  --c-secondary-text: var(--c-text-light);
  --c-secondary-text-hover: var(--c-secondary-text);
  --c-secondary-text-accent: #f5ebff;
  --c-secondary-pure: var(--c-secondary);
  --c-secondary-pure-hover: var(--c-secondary-hover);
  --c-secondary-shadow: #ac4fff5c;

  --c-success: #36b399;
  --c-success-light: var(--c-success);
  --c-success-light-dimmed: #4ddfc1;
  --c-success-hover: #1d9e83;
  --c-success-text: var(--c-text-light);
  --c-success-text-hover: var(--c-success-text);
  --c-success-text-accent: #dbfff8;
  --c-success-pure: var(--c-success);
  --c-success-pure-hover: var(--c-success-hover);
  --c-success-shadow: #17a6895c;

  --c-warning: #edbc3d;
  --c-warning-light: var(--c-warning);
  --c-warning-light-dimmed: #ffe59f;
  --c-warning-hover: #ab6d4a;
  --c-warning-text: var(--c-text-light);
  --c-warning-text-hover: var(--c-warning-text);
  --c-warning-text-accent: #fffbf2;
  --c-warning-pure: var(--c-warning);
  --c-warning-pure-hover: var(--c-warning-hover);
  --c-warning-shadow: #e7b6345c;

  --c-danger: #ed3d3d;
  --c-danger-light: var(--c-danger);
  --c-danger-light-dimmed: #ffa4a4;
  --c-danger-hover: #c42a2a;
  --c-danger-text: var(--c-text-light);
  --c-danger-text-hover: var(--c-danger-text);
  --c-danger-text-accent: #ffc7c7;
  --c-danger-pure: var(--c-danger);
  --c-danger-pure-hover: var(--c-danger-hover);
  --c-danger-shadow: #c42a2a5c;

  --font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-weight-s: 300;
  --font-weight-m: 400;
  --font-weight-l: 500;
  --font-weight-xl: 600;
  --font-weight-xxl: 700;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;

  --transition-s: calc(var(--transitions, 1) * 0.125s);
  --transition-m: calc(var(--transitions, 1) * 0.25s);
  --transition-xl: calc(var(--transitions, 1) * 0.75s);
  --transition-xxl: calc(var(--transitions, 1) * 1.5s);

  --chart-line-color: #3c4249;
  --chart-label: var(--theme-text);
  --chart-generic-saturation: 75%;
  --chart-generic-lightness: 75%;

  --chart-tooltip-background-color: var(--app-background);
  --chart-tooltip-border-color: var(--app-border);
  --chart-tooltip-color: var(--theme-text);
  --chart-tooltip-cross-color: var(--c-dimmed);
  --chart-tooltip-axis-label-color: var(--c-primary-text);
  --chart-tooltip-axis-label-background: var(--c-primary);

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 6px;
  --border-radius-xl: 8px;
  --border-radius-xxl: 16px;
  --border-radius-xxxl: 24px;
  --border-radius-full: 1000px;

  --input-field-transition: var(--transition-s);
  --input-field-font-size: var(--font-size-xs);
  --input-field-caret-color: #a6aab7;
  --input-field-border: #54516d;
  --input-field-placeholder: #5d6275;
  --input-field-background: var(--app-background);

  --input-field-hover-border: var(--c-primary-pure);
  --input-field-hover-background: var(--input-field-background);

  --input-field-focus-border: var(--c-primary-pure);
  --input-field-focus-background: var(--input-field-background);
  --input-field-focus-box-shadow: 0 0 0 2px #005ad173;

  --input-field-max-width: 200px;

  --dialog-background: #1f1f2b;
  --dialog-box-shadow: 0 2px 10px #00000080;

  --context-menu-item-color: #c1c1cf;
  --context-menu-item-color-muted: #6e6e72;
  --context-menu-item-color-hover: #ededf6;
  --context-menu-item-background-hover: #00000080;
  --context-menu-backdrop: blur(4px) brightness(0.25);
  --context-menu-shadow: 0 1px 5px #0c0b0e;

  --cell-menu-backdrop: blur(3px) brightness(0.3);
  --cell-menu-shadow: 0 1px 5px #0c0b0e;

  --grid-background-odd: #1b1d26;
  --grid-background-odd-hover: #1b1d26;
  --grid-background-odd-active: #2a2d3a;
  --grid-background-even: #2c2f3d;
  --grid-background-even-hover: #2c2f3d;
  --grid-background-even-active: #3d4154;
  --grid-border-color: #131316;
  --grid-border-radius: var(--border-radius-l);

  --grid-header-background: var(--c-primary);
  --grid-header-text: #dfe2e8;

  --tooltip-backdrop: var(--context-menu-backdrop);
  --tooltip-shadow: 0 1px 2px #141416;
}
