@mixin dark {
  --theme: #18181b;

  --theme-text: var(--c-text-light);
  --theme-text-muted: var(--c-text-light-muted);

  --app-max-width: 1600px;
  --app-max-height: 1000px;
  --app-box-shadow: 0 4px 7px #131316;
  --app-scroll-box-shadow: 0 0 10px #0c0c0c;
  --app-backround: #1f2026;
  --app-border: var(--theme);
  --app-scrollbar: #3f4354;

  --c-text-dark: #282d38;
  --c-text-dark-muted: #788090;
  --c-text-light: #fff;
  --c-text-light-accent: #b8bbcc;
  --c-text-light-muted: #d2d2da;

  --c-dimmed: #8999a9;
  --c-dimmed-hover: #b5bbc5;
  --c-dimmed-text: var(--c-text-light);
  --c-dimmed-text-hover: var(--c-dimmed-text);
  --c-dimmed-pure: var(--c-dimmed);
  --c-dimmed-pure-hover: var(--c-dimmed-hover);
  --c-dimmed-shadow: #555c655c;

  --c-primary: #3f94f3;
  --c-primary-light: var(--c-primary);
  --c-primary-light-dimmed: #bcdcff;
  --c-primary-hover: #4791e6;
  --c-primary-text: var(--c-text-light);
  --c-primary-text-hover: var(--c-primary-text);
  --c-primary-pure: var(--c-primary);
  --c-primary-pure-hover: var(--c-primary-hover);
  --c-primary-shadow: #4fa2ff5c;

  --c-secondary: #b460ff;
  --c-secondary-light: var(--c-secondary);
  --c-secondary-light-dimmed: #dab2ff;
  --c-secondary-hover: #9730f1;
  --c-secondary-text: var(--c-text-light);
  --c-secondary-text-hover: var(--c-secondary-text);
  --c-secondary-pure: var(--c-secondary);
  --c-secondary-pure-hover: var(--c-secondary-hover);
  --c-secondary-shadow: #ac4fff5c;

  --c-success: #36b399;
  --c-success-light: var(--c-success);
  --c-success-light-dimmed: #4ddfc1;
  --c-success-hover: #17a689;
  --c-success-text: var(--c-text-light);
  --c-success-text-hover: var(--c-success-text);
  --c-success-pure: var(--c-success);
  --c-success-pure-hover: var(--c-success-hover);
  --c-success-shadow: #17a6895c;

  --c-warning: #edbc3d;
  --c-warning-light: var(--c-warning);
  --c-warning-light-dimmed: #ffe59f;
  --c-warning-hover: #ab6d4a;
  --c-warning-text: var(--c-text-light);
  --c-warning-text-hover: var(--c-warning-text);
  --c-warning-pure: var(--c-warning);
  --c-warning-pure-hover: var(--c-warning-hover);
  --c-warning-shadow: #e7b6345c;

  --c-danger: #ed3d3d;
  --c-danger-light: var(--c-danger);
  --c-danger-light-dimmed: #ffa4a4;
  --c-danger-hover: #c42a2a;
  --c-danger-text: var(--c-text-light);
  --c-danger-text-hover: var(--c-danger-text);
  --c-danger-pure: var(--c-danger);
  --c-danger-pure-hover: var(--c-danger-hover);
  --c-danger-shadow: #c42a2a5c;

  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-weight-s: 200;
  --font-weight-m: 400;
  --font-weight-l: 500;
  --font-weight-xl: 600;
  --font-weight-xxl: 800;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;

  --transitions: 1;
  --transition-s: calc(var(--transitions) * 0.125s);
  --transition-m: calc(var(--transitions) * 0.25s);
  --transition-xl: calc(var(--transitions) * 0.75s);
  --transition-xxl: calc(var(--transitions) * 1.5s);

  --chart-line-color: #3c4249;
  --chart-label: var(--theme-text);
  --chart-generic-saturation: 75%;
  --chart-generic-lightness: 75%;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 6px;
  --border-radius-xl: 8px;
  --border-radius-xxl: 16px;
  --border-radius-xxxl: 24px;

  --input-field-transition: var(--transition-s);
  --input-field-font-size: var(--font-size-xs);
  --input-field-caret-color: #a6aab7;
  --input-field-border: var(--c-dimmed);
  --input-field-placeholder: var(--c-dark-pure);
  --input-field-background: var(--app-backround);

  --input-field-hover-border: var(--c-dimmed-hover);
  --input-field-hover-background: var(--input-field-background);

  --input-field-focus-border: #0750b1;
  --input-field-focus-background: var(--input-field-background);
  --input-field-focus-box-shadow: #005ad173;

  --input-field-max-width: 200px;

  --dialog-background: var(--app-backround);
  --dialog-box-shadow: 0 2px 10px #00000080;

  --context-menu-item-color: #c1c1cf;
  --context-menu-item-color-hover: #ededf6;
  --context-menu-item-background-hover: #00000080;
  --context-menu-backdrop: blur(4px) brightness(0.3);
  --context-menu-shadow: 0 2px 10px #080606;

  --grid-background-odd: #27282d;
  --grid-background-odd-hover: #2a2b30;
  --grid-background-odd-active: #2f2f36;
  --grid-background-even: #1c1d21;
  --grid-background-even-hover: #1e1f24;
  --grid-background-even-active: #232429;
  --grid-border-color: #131316;
  --grid-border-radius: var(--border-radius-m);

  --grid-header-backround: #15181b;
  --grid-header-text: #dfe2e8;
}
