@mixin light {
  --theme: #f8f9fa;

  --theme-text: var(--c-text-dark);
  --theme-text-muted: var(--c-text-dark-muted);

  --app-max-width: 1600px;
  --app-max-height: 1000px;
  --app-box-shadow: 0 4px 7px #e8e7f5;
  --app-scroll-box-shadow: 0 0 10px #00000038;
  --app-background: #fff;
  --app-border: #e8e9f4;
  --app-scrollbar: #bec9d4;

  --c-text-dark: #333946;
  --c-text-dark-muted: #788090;
  --c-text-light: #fff;
  --c-text-light-accent: #b8bbcc;
  --c-text-light-muted: #d2d2da;

  --c-dimmed: #a3aab0;
  --c-dimmed-light: #f4f7f9;
  --c-dimmed-hover: #8f979d;
  --c-dimmed-text: var(--c-text-light);
  --c-dimmed-text-hover: var(--c-dimmed-text);
  --c-dimmed-text-accent: var(--c-text-light);
  --c-dimmed-pure: var(--c-dimmed);
  --c-dimmed-pure-hover: var(--c-dimmed-hover);
  --c-dimmed-shadow: #555c655c;

  --c-primary: #202023;
  --c-primary-light: #e8f0fb;
  --c-primary-light-dimmed: #adc4e1;
  --c-primary-hover: #2f2f34;
  --c-primary-text: var(--c-text-light);
  --c-primary-text-hover: var(--c-primary-text);
  --c-primary-text-accent: #57749e;
  --c-primary-pure: var(--c-primary);
  --c-primary-pure-hover: var(--c-primary-hover);
  --c-primary-shadow: #5077be5c;

  --c-secondary: #f2e3ff;
  --c-secondary-light: var(--c-secondary);
  --c-secondary-light-dimmed: #dab2ff;
  --c-secondary-hover: #e2bfff;
  --c-secondary-text: var(--c-text-light);
  --c-secondary-text-hover: var(--c-secondary-text);
  --c-secondary-text-accent: #7f5ba0;
  --c-secondary-pure: var(--c-secondary);
  --c-secondary-pure-hover: var(--c-secondary-hover);
  --c-secondary-shadow: #b765ff5c;

  --c-success: #64d37d;
  --c-success-light: #eafdee;
  --c-success-light-dimmed: #9fd0a9;
  --c-success-hover: #55b26d;
  --c-success-text: var(--c-text-light);
  --c-success-text-hover: var(--c-success-text);
  --c-success-text-accent: #53895f;
  --c-success-pure: var(--c-success);
  --c-success-pure-hover: var(--c-success-hover);
  --c-success-shadow: #55b26d5c;

  --c-warning: #ffca67;
  --c-warning-light: #ffefe7;
  --c-warning-light-dimmed: #e5b197;
  --c-warning-hover: #ab6d4a;
  --c-warning-text: var(--c-text-light);
  --c-warning-text-hover: var(--c-warning-text);
  --c-warning-text-accent: #a97053;
  --c-warning-pure: var(--c-warning);
  --c-warning-pure-hover: var(--c-warning-hover);
  --c-warning-shadow: #f09e5a5c;

  --c-danger: #ee7a7a;
  --c-danger-light: #ffc9c9;
  --c-danger-light-dimmed: #e59696;
  --c-danger-hover: #de4e4e;
  --c-danger-text: var(--c-text-light);
  --c-danger-text-hover: var(--c-danger-text);
  --c-danger-text-accent: #bd5f5f;
  --c-danger-pure: var(--c-danger);
  --c-danger-pure-hover: var(--c-danger-hover);
  --c-danger-shadow: #ee7a7a5c;

  --font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-weight-s: 300;
  --font-weight-m: 400;
  --font-weight-l: 500;
  --font-weight-xl: 600;
  --font-weight-xxl: 700;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;

  --transition-s: calc(var(--transitions, 1) * 0.125s);
  --transition-m: calc(var(--transitions, 1) * 0.25s);
  --transition-xl: calc(var(--transitions, 1) * 0.75s);
  --transition-xxl: calc(var(--transitions, 1) * 1.5s);

  --chart-line-color: #d7dfe4;
  --chart-label: var(--theme-text);
  --chart-generic-saturation: 55%;
  --chart-generic-lightness: 82%;

  --chart-tooltip-background-color: var(--app-background);
  --chart-tooltip-border-color: var(--app-border);
  --chart-tooltip-color: var(--theme-text);
  --chart-tooltip-cross-color: var(--c-primary);
  --chart-tooltip-axis-label-color: var(--c-primary-text);
  --chart-tooltip-axis-label-background: var(--c-primary);

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 6px;
  --border-radius-xl: 8px;
  --border-radius-xxl: 16px;
  --border-radius-xxxl: 24px;
  --border-radius-full: 1000px;

  --input-field-transition: var(--transition-s);
  --input-field-font-size: var(--font-size-xs);
  --input-field-caret-color: #2d3036;
  --input-field-border: #bec9d4;
  --input-field-placeholder: var(--c-dimmed-pure);
  --input-field-background: #efeff3;

  --input-field-hover-border: var(--c-primary-pure);
  --input-field-hover-background: var(--input-field-background);

  --input-field-focus-border: var(--c-primary-pure);
  --input-field-focus-background: var(--input-field-background);
  --input-field-focus-box-shadow: #0059ff5c;

  --input-field-max-width: 200px;

  --dialog-background: var(--app-background);
  --dialog-box-shadow: 0 2px 5px #00000012;

  --context-menu-item-color: #777788;
  --context-menu-item-color-muted: #cacfda;
  --context-menu-item-color-hover: #222228;
  --context-menu-item-background-hover: #0000000d;
  --context-menu-backdrop: brightness(10);
  --context-menu-shadow: 0 2px 10px #c5c3db;

  --cell-menu-backdrop: blur(3px) brightness(0.15);
  --cell-menu-shadow: 0 1px 2px #46434d;

  --grid-background-odd: #fff;
  --grid-background-odd-hover: #f5f5f7;
  --grid-background-odd-active: #fafafa;
  --grid-background-even: #f0f2f3;
  --grid-background-even-hover: #e6e9eb;
  --grid-background-even-active: #ededed;
  --grid-border-color: #e4e5e6;
  --grid-border-radius: var(--border-radius-l);

  --grid-header-background: #1b1e2a;
  --grid-header-text: #dfe2e8;

  --tooltip-backdrop: var(--context-menu-backdrop);
  --tooltip-shadow: 0 1px 2px #e0e0e0;
}
