@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  src: url('/src/styles/fonts/ibm-plex-sans/IBMPlexSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  src: url('/src/styles/fonts/ibm-plex-sans/IBMPlexSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  src: url('/src/styles/fonts/ibm-plex-sans/IBMPlexSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  src: url('/src/styles/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  src: url('/src/styles/fonts/ibm-plex-sans/IBMPlexSans-Bold.woff2') format('woff2');
}
