# Database location
GENESIS_DB_PATH=.data

# JWT secret known only to your token generator
GENESIS_JWT_SECRET=84d62c48dd30ca7caf6561252c5bd919

# JWT expiration in minutes
GENESIS_JWT_TOKEN_EXPIRATION=120000

# If the cookie should be allowed to be sent over http
# Dangerous, it's best to run it behind a reverse proxy with https
GENESIS_JWT_COOKIE_ALLOW_HTTP=true

# Gin mode, either test, release or debug
GENESIS_GIN_MODE=test

# Zap logger, either production or development
GENESIS_LOG_MODE=development

# Port to listen on
GENESIS_PORT=8080

# Base url to listen for requests
GENESIS_BASE_URL=/

# Users to be created on start up.
# Use ! as suffix for the username to indicate that this user should be created as an admin.
# Admins can add, remove and edit users.
GENESIS_CREATE_USERS=admin!:hgEiPCZP

# Allowed username pattern
GENESIS_USERNAME_PATTERN=^[\w]{0,32}$

# Allowed key pattern
GENESIS_KEY_PATTERN=^[\w]{0,32}$

# Maximum size of each key in kilobytes
GENESIS_DATA_MAX_SIZE=512

# Maximum amount of datasets per user
GENESIS_KEYS_PER_USER=3

# Maximum login attempts before temporary lockout for a user.
# They reset after a successful login and are not persistent across restarts.
# Setting it to 0 disables this feature.
GENESIS_LOGIN_MAX_ATTEMPTS=5

# Durations for temporary lockouts after failed login attempts, capped at the last value.
# This is reset after a successful login for each individual user.
# Leaving this empty disables temporary lockouts.
GENESIS_LOGIN_LOCKOUT_DURATIONS=3s,15s,1m,5m,10m,15m
