.table {
  width: max-content;
  min-width: 100%;

  > span {
    padding: 5px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.underline,
.bold {
  font-weight: var(--font-weight-l);
}

.underline {
  text-decoration: underline;
}

.muted {
  color: var(--theme-text-muted);
}

.currentMonth > span {
  color: var(--c-text-light);
  display: inline-block;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: -3px -8px;
    border-radius: 100px;
    background: var(--c-primary);
    z-index: -1;
  }
}

.current {
  font-weight: var(--font-weight-xl);

  &.first {
    border-top-left-radius: var(--border-radius-l);
    border-top-right-radius: var(--border-radius-l);
  }

  &.last {
    border-bottom-left-radius: var(--border-radius-l);
    border-bottom-right-radius: var(--border-radius-l);
  }
}
