name: Main

on: ["push", "pull_request"]

concurrency:
  group: "pages"
  cancel-in-progress: false

permissions:
  contents: write
  pages: write
  id-token: write

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  HUSKY: 0

jobs:
  test:
    name: Run unit, lint and e2e tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup repository
        uses: ./.github/workflows/actions/setup-repository

      - name: Setup ESLint cache
        uses: actions/cache@v4
        with:
          path: ./.eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('**/pnpm-lock.yaml', '**/eslint.config.mjs') }}

      - name: Run eslint
        run: pnpm lint

      - name: Run unit tests
        run: pnpm test:unit

      - name: Build testing app
        run: pnpm build
        env:
          OCULAR_GENESIS_HOST: /api
          OCULAR_HYBRID_MODE: true

      - name: Start genesis and ocular
        run: |
          docker pull ghcr.io/simonwep/genesis:latest
          docker run -p 8080:8080 -v "./.data:/app/.data" --env-file .env.genesis ghcr.io/simonwep/genesis:v1.5.0 start &
          pnpm vite preview &

      - name: Wait for genesis to be healthy
        uses: ./.github/workflows/actions/wait-for-health-check
        with:
          host: localhost:8080

      - name: Wait for ocular to be healthy
        uses: ./.github/workflows/actions/wait-for-health-check
        with:
          host: localhost:3000
          endpoint: /dashboard

      - name: Install playwright browsers
        run: pnpm exec playwright install --with-deps firefox

      - name: Run e2e tests
        run: pnpm test:e2e

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: test-results
          path: test-results/
          retention-days: 7

  build:
    name: Run demo and docs build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup repository
        uses: ./.github/workflows/actions/setup-repository

      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build demo app
        run: pnpm build
        env:
          OCULAR_BUILD_VERSION: nightly
          OCULAR_BUILD_SHA: ${{ steps.vars.outputs.sha_short }}
          OCULAR_BASE_URL: /ocular/demo/

      - name: Build docs
        run: pnpm docs:build

      - name: Upload app build
        uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: app-build
          path: dist
          retention-days: 1

      - name: Upload docs build
        uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: docs-build
          path: docs/.vitepress/dist
          retention-days: 1

  publish_docs:
    if: github.ref == 'refs/heads/main'
    name: Publish docs
    needs: [build, test]
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download docs build
        uses: actions/download-artifact@v4
        with:
          name: docs-build
          path: docs-build

      - name: Download app build
        uses: actions/download-artifact@v4
        with:
          name: app-build
          path: app-build

      - name: Prepare static files
        run: |
          mkdir -p pages/demo
          mv docs-build/* pages/
          mv app-build/* pages/demo

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: pages

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  publish_docker:
    if: startsWith(github.event.ref, 'refs/tags/v')
    name: Build and publish docker image
    needs: [build, test]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=raw,value=latest

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          provenance: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          file: docker/Dockerfile
          build-args: |
            OCULAR_BUILD_VERSION=${{ github.ref_name }}
            OCULAR_BUILD_SHA=${{ steps.vars.outputs.sha_short }}

  publish_release:
    if: startsWith(github.event.ref, 'refs/tags/v')
    name: Publish new release
    needs: publish_docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Extract changes
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Publish release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: ${{ steps.changelog.outputs.changes }}
